* {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  border: 0;
  margin: 0;
}

/*My Css*/

.flex {
  display: flex;
  flex-direction: row;
}

.first {
  flex: 1;
}

.second {
  flex: 2;
}

/*Left Container Styling*/
.left-main-container {
  background-color: rgb(243, 241, 241);
  padding: 80px 10%;
}

.left-container {
  display: flex;
  justify-content: center;
}

.main-img-box {
  width: 220px;
  height: 220px;
  border: 20px solid rgb(255, 255, 255);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.img-box {
  width: 210px;
  height: 210px;
  /* border: 5px solid gray; */
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
}

.img {
  width: 180px;
  border-radius: 50%;
}

.title-bar-container {
  margin-top: 50px;
}

.title-bar-container p {
  font-weight: bold;
  color: white;
  font-size: 24px;
  background-color: rgb(48, 47, 47);
  text-align: center;
  padding: 10px 0;
}

/*Left Components*/

/*First Left Components*/
/* .icon-container {
  margin: 10px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
} */
.flex-icon-container {
  display: flex;
  flex-direction: row;
}

.icon-container {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-around;
}

.icon-text-container {
  flex: 6;
  display: flex;
  flex-direction: column;
}

.icon-props {
  font-size: 24px;
  margin: 5px;
}

.icon-container p {
  font-size: 14px;
}

/*Second Left Components*/
.language-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.language-container p {
  flex: 1;
}

.progress-container {
  flex: 1;
}

/*Fourth Left Components*/

.certificate-container {
  font-size: 1.1em;
}

.certificate-container p {
  margin-top: 30px;
}

/*Right Container Styling*/
.right-main-container {
  padding: 50px 5%;
}

.right-text-container {
  font-size: 5.25em;
  line-height: 20px;
  letter-spacing: 10px;
  color: rgb(63, 63, 63);
  /* margin-left: -10px; */
}

.right-text-container1 {
  font-size: 2em;
  letter-spacing: 2px;
  color: black;
  /* margin-left: -5px; */
  margin-top: -40px;
}

/*First Right Component*/
.first-right-component {
  margin: 45px 0;
  color: rgb(63, 63, 63);
}

.first-right-component h2,
h3 {
  line-height: 10px;
}

.first-right-component p {
  font-size: 1.05em;
}

/*Second Right Component*/
.second-right-component {
  margin-top: 40px;
}

.second-right-component1 {
  line-height: 10px;
}

.second-right-component1 p {
  font-size: 1.15em;
}

.second-right-component2 {
  margin-top: 30px;

}

.second-right-component2 p {
  font-size: 0.9em;
  line-height: 1px;
}

/*Flexibility Style*/
@media screen and (max-width: 760px) {
  .flex {
    flex-direction: column;
  }

  .right-text-container {
    font-size: 3.25em;
  }

  .right-text-container1 {
    font-size: 1.5em;
    margin-top: 0;
  }
}

@media screen and (max-width: 480px) {
  .right-text-container {
    font-size: 2.25em;
  }

  .right-text-container1 {
    font-size: 1em;
  }
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}