* {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  border: 0;
  margin: 0;
}

/*My Css*/

.flex {
  display: flex;
  flex-direction: row;
}

.first {
  flex: 1;
}

.second {
  flex: 2;
}

/*Left Container Styling*/
.left-main-container {
  background-color: rgb(243, 241, 241);
  padding: 80px 10%;
}

.left-container {
  display: flex;
  justify-content: center;
}

.main-img-box {
  width: 220px;
  height: 220px;
  border: 20px solid rgb(255, 255, 255);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.img-box {
  width: 210px;
  height: 210px;
  /* border: 5px solid gray; */
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
}

.img {
  width: 180px;
  border-radius: 50%;
}

.title-bar-container {

  margin-top: 50px;
}

.title-bar-container p {
  font-weight: bold;
  color: white;
  font-size: 24px;
  background-color: rgb(48, 47, 47);
  text-align: center;
  padding: 10px 0;
}

/*Left Components*/

/*First Left Components*/
/* .icon-container {
  margin: 10px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
} */
.flex-icon-container {
  display: flex;
  flex-direction: row;
}

.icon-container {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-around;
}

.icon-text-container {
  flex: 6;
  display: flex;
  flex-direction: column;
}

.icon-props {
  font-size: 24px;
  margin: 5px;
}

.icon-container p {
  font-size: 14px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}